<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/templates/icon.png" />
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>Clover</title>
</head>
<body>
    <div id="user-data" style="margin-top: 20px; font-size: 1.2em;"></div>

    <script>
        const tg = window.Telegram.WebApp;
        const user = tg.initDataUnsafe?.user;
        const userDataDiv = document.getElementById('user-data');

        function isMobileDevice() {
            const isTouchDevice = 'ontouchstart' in window || navigator.maxTouchPoints > 0;
            const isSmallScreen = window.innerWidth <= 768;
            return isTouchDevice && isSmallScreen;
        }

        if (user) {
            function displayContent() {
                const userAgent = navigator.userAgent.toLowerCase();
                if (tg.WebApp.isMobileDevice) {
                    userDataDiv.innerHTML = `
                    <p><strong>User ID:</strong> ${user.id}</p>
                    <p><strong>Username:</strong> ${user.username || "N/A"}</p>
                    <p><strong>Name:</strong> ${user.first_name} ${user.last_name || ""}</p>
                    <p><strong>Phone:</strong> ${user.phone} ${user.last_name || ""}</p>
                    `;
                } else {
                    userDataDiv.innerHTML = '<p style="color: red;">Error: This page must be opened on a mobile device.</p>';
                }
            }

            displayContent();
        }
    </script>
</body>
</html>
