@font-face {
    font-family: 'sf';
    src: url('/templates/sf-ui-display-light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'sf';
    src: url('/templates/sf-ui-display-regular.ttf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'sf';
    src: url('/templates/sf-ui-display-medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'sf';
    src: url('/templates/sf-ui-display-semibold.otf') format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: 'sf';
    src: url('/templates/sf-ui-display-bold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'sf';
    src: url('/templates/sf-ui-display-heavy.otf') format('opentype');
    font-weight: 800;
}
@font-face {
    font-family: 'sf';
    src: url('/templates/sf-ui-display-black.otf') format('opentype');
    font-weight: 900;
}
body {
    height: 100%; /* Set both html and body to 100% height */
    margin: 0;    /* Remove default margin */
    overflow: hidden; /* Prevent scrolling */
    font-family: 'sf';
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/templates/bg1.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-user-select: none; /* Safari and Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;
}
.clicker-app {
    text-align: center;
}
.counter {
    font-size: 48px;
    margin: 50px 0;
    font-weight: 700;
    color: white;
    -webkit-text-stroke: 2px #263F68;
}
.click-image {
    width: 327px;
    height: 327px;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.click-image:active {
    animation: scaleDown 0.2s forwards;
}
@keyframes scaleDown {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}
